*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box-message{
    border: 1px solid #000;
    width:450px;
    height:75px;
    margin: 10px;
    padding-left: 75px;
    line-height: 75px;
    background: no-repeat 23.5px center;
    box-shadow: 1px 1px 5px #eee;
}

.info{
    background-color: #d7eef6;
    background-image: url(images/icon-info.png);
    border-color:#cee0e4;
    color: #3e5d6f;
}
.error{
    background-color:  #f2dedf;
    background-image: url(images/icon-error.png);
     border-color:#e2d4d3;
    color: #8c433a;
}
.success{
    background-color: #def0d8;
    background-image: url(images/icon-success.png);
     border-color:#d9e5cf;
    color: #4e6841;
}
.warning{
    background-color: #fbf8e5;
    background-image: url(images/icon-warning.png);
     border-color:#f4eddb;
    color: #7f743c;
}